# Capita

Technical Challenge for Data Science Candidates

Question 2: Exploratory data analysis to show how the population progressed by regions and age groups

In [26]:
import numpy as np
import pandas as pd
import math
import json

from pyjstat import pyjstat
from os import path

import scipy.stats as st
import statsmodels as sm
import statsmodels.api as smi

import matplotlib
from cycler import cycler
import matplotlib.pyplot as plt

# this is the local Utility module
from cpta import Utility

%load_ext autoreload
%autoreload 2

pd.__version__

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

'0.24.2'

In [27]:
# If you turn this feature on, you can display each result as it happens.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [28]:
fl2 = 'stats.pickle'
path.exists(fl2)

True

In [29]:
# There's a future warning - minor change made in pyjstat
if not path.exists(fl2):
    fl1 = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_31_1.jsonstat.json'
    dataset = pyjstat.Dataset.read(fl1)
    df = dataset.write('dataframe')
    df.to_pickle(fl2)
else:
    df = pd.read_pickle(fl2)

In [58]:
## Categories can be simpler
df.date = df.date.astype('int32')
df.info()
df[df.select_dtypes(['object']).columns] = df.select_dtypes(['object']).apply(lambda x: x.astype('category'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 6 columns):
date         22800 non-null int32
geography    22800 non-null category
sex          22800 non-null category
age          22800 non-null category
measures     22800 non-null category
value        20358 non-null float64
dtypes: category(4), float64(1), int32(1)
memory usage: 357.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 6 columns):
date         22800 non-null int32
geography    22800 non-null category
sex          22800 non-null category
age          22800 non-null category
measures     22800 non-null category
value        20358 non-null float64
dtypes: category(4), float64(1), int32(1)
memory usage: 357.5 KB

In [59]:
i0 = Utility.instance()

In [60]:
ages = set(df.age.values)
dates = set(df.date)
dates

{1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018}

In [40]:
df1 = i0.simplify0(df)
df1

   date         geography       age        Male      Female       Total
0  2018           England  All ages  27668000.0  28309300.0  55977200.0
1  2018  Northern Ireland  All ages    926200.0    955400.0   1881600.0
2  2018          Scotland  All ages   2648800.0   2789300.0   5438100.0
3  2018                UK  All ages  32790300.0  33645300.0  66435500.0
4  2018             Wales  All ages   1547300.0   1591300.0   3138600.0