# Capita

Technical Challenge for Data Science Candidates

Question 2: Exploratory data analysis to show how the population progressed by regions and age groups. Part 2.

In [26]:
import numpy as np
import pandas as pd
import math
import json

from pyjstat import pyjstat
from os import path

import scipy.stats as st
import statsmodels as sm
import statsmodels.api as smi

import matplotlib
from cycler import cycler
import matplotlib.pyplot as plt

# this is the local Utility module
from cpta import Utility

%load_ext autoreload
%autoreload 2

pd.__version__

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

'0.24.2'

In [27]:
# If you turn this feature on, you can display each result as it happens.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [28]:
fl2 = 'stats.pickle'
path.exists(fl2)

True

In [29]:
# There's a future warning - minor change made in pyjstat
if not path.exists(fl2):
    fl1 = 'https://www.nomisweb.co.uk/api/v01/dataset/NM_31_1.jsonstat.json'
    dataset = pyjstat.Dataset.read(fl1)
    df = dataset.write('dataframe')
    df.to_pickle(fl2)
else:
    df = pd.read_pickle(fl2)

In [108]:
## Categories can be simpler
df.date = df.date.astype('int32')
df.info()
df[df.select_dtypes(['object']).columns] = df.select_dtypes(['object']).apply(lambda x: x.astype('category'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 6 columns):
date         22800 non-null int32
geography    22800 non-null category
sex          22800 non-null category
age          22800 non-null category
measures     22800 non-null category
value        20358 non-null float64
dtypes: category(4), float64(1), int32(1)
memory usage: 357.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 6 columns):
date         22800 non-null int32
geography    22800 non-null category
sex          22800 non-null category
age          22800 non-null category
measures     22800 non-null category
value        20358 non-null float64
dtypes: category(4), float64(1), int32(1)
memory usage: 357.5 KB

In [109]:
# This utility has a simplify0 method that applies question 1 manipulations to any age group and year
i0 = Utility.instance()

In [110]:
# It splits up into these iterations.
ages = set(df.age.values)
dates = set(df.date)

In [111]:
# Check the expected length.

df1 = i0.simplify0(df)
df1
len(ages)
len(dates)
len(ages) * len(dates) * len(set(df1.geography))

   date         geography       age        Male      Female       Total
0  2018           England  All ages  27668000.0  28309300.0  55977200.0
1  2018  Northern Ireland  All ages    926200.0    955400.0   1881600.0
2  2018          Scotland  All ages   2648800.0   2789300.0   5438100.0
3  2018                UK  All ages  32790300.0  33645300.0  66435500.0
4  2018             Wales  All ages   1547300.0   1591300.0   3138600.0

25

38

4750

In [112]:
# Form parameter pairs and iterate through them all.
t0 = [ zip([x] * len(ages), ages) for x in dates ]

def step0():
    """
    This provides an iterator across the parameters in t0 and returns the result of an invocation of simplify0
    """
    for x in t0:
        for dt0, age0 in x:
            yield i0.simplify0(df, dt0=dt0, age0=age0)
            
t1 = [ x for x in step0() ]
len(t1)

950

In [113]:
df2 = pd.concat(t1).reset_index()
df2.drop(columns='index', axis=1, inplace=True)
df2.info()

In [122]:
df2.to_pickle('stats1.pickle')

In [1]:
# And take a look at a pivot chart in Excel
df2.to_csv(path_or_b'stats1.csv', index=False)

NameError: name 'df2' is not defined