weaves

Accessing Instagram

In [1]:
import os

from datetime import datetime
from dateutil import parser

import numpy as np
import pandas as pd

from kink0 import InstaOps

import json

%load_ext autoreload
%autoreload 2

In [4]:
i0 = InstaOps.instance()
kink0 = i0.load("bak/k-51115.json")
dfs = i0.getDataset(kink0)
dfs.keys()

dict_keys(['posts', 'likes', 'captions', 'names'])

In [6]:
dfs['names'].head()

            pk           username
0   8573371278        german_dabi
1  12603974119  littlegirl_.space
2  13355939902        smshopinsta
3  14282903849     corinnemaya_cl
4  12603974119  littlegirl_.space

In [7]:
dfs['captions'].head()

,mark0,user0,dt0,user1,dt1,mesj
0,,8573371278,2019-06-11 14:14:29,8573371278,2019-06-11 14:14:31,#anime #manga #animeworld #german #otaku #kawa...
1,,12603974119,2019-06-11 14:12:04,12603974119,2019-06-11 14:12:06,游눬游눥\n.\n.\n.\n#daddykink #daddy #daddydomlittle...
2,,13355939902,2019-06-11 14:11:41,13355939902,2019-06-11 14:11:43,Vil du gerne have en #klemme eller to p친 nogen...
3,,14282903849,2019-06-11 14:10:15,14282903849,2019-06-11 14:11:12,#mdlgrp wblzrv #lonelyrp snluqkndk #ph qqppxbf...
4,,12603974119,2019-06-11 14:09:33,12603974119,2019-06-11 14:09:35,游냗游니\n.\n.\n.\n#daddykink #daddy #daddydomlittle...