# Forecasting for July

Technical Challenge for Data Science Candidates

You want to forecast the “Outside Temperature” for the first 9 days of the next month.

Assume that:

  - The average temperature for each day of July is constant and equal to 25 degrees;

  - For the 1st of July, the pattern of the temperatures across the day with respect to the average temperature on that day is similar to the one found on 1st of June, for the 2nd of July is similar to the average on the 2nd of June, etc.
  
Produce a “.txt” file with your forecast for July (from 1st July to 9th July) with the sample values for each time for e.g. dd/mm/yyyy, Time, Outside Temperature.

## Implementation

This is easier than it looks. There is some discussion of residuals in the other notebook, but if I apply ratio residuals (instead of absolute ones), then it is functionally the same as multiplying the day in June numbers by the ratio of the expected July average with the day in June average.

So, for example, if the average for a day in June is 16 degrees, then multiply the day's individual numbers by 22/16 = 1.375 and that gives you the predicted July values.

In [2]:
import numpy as np
import pandas as pd

import matplotlib
from cycler import cycler
import matplotlib.pyplot as plt

pd.__version__

'0.24.2'

In [3]:
# If you turn this feature on, you can display each result as it happens.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
df1 = pd.read_pickle("200606.pkl")

In [5]:
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4319 entries, 90 to 4408
Data columns (total 20 columns):
Date                      4319 non-null object
Time                      4319 non-null object
Temp Humidity Index       4319 non-null float64
Outside Temperature       4319 non-null float64
WindChill                 4319 non-null float64
Hi Temperature            4319 non-null float64
Low Temperature           4319 non-null float64
Outside Humidity          4319 non-null int64
DewPoint                  4319 non-null float64
WindSpeed                 4319 non-null int64
Hi                        4319 non-null int64
Wind Direction            4319 non-null object
Rain                      4319 non-null float64
Barometer                 4319 non-null float64
Inside  Temperature       4319 non-null float64
Inside  Humidity          4319 non-null int64
ArchivePeriod             4319 non-null int64
dttm0                     4319 non-null datetime64[ns]
m0                        4319 non-null int64
dy0                       4319 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(7), object(3)
memory usage: 708.6+ KB

,Date,Time,Temp Humidity Index,Outside Temperature,WindChill,Hi Temperature,Low Temperature,Outside Humidity,DewPoint,WindSpeed,Hi,Wind Direction,Rain,Barometer,Inside Temperature,Inside Humidity,ArchivePeriod,dttm0,m0,dy0
90,01/06/2006,00:00,9.6,9.6,9.6,9.6,9.5,81,6.4,1,10,WNW,0.0,1014.4,21.1,40,10,2006-06-01 00:00:00,6,1
91,01/06/2006,00:10,9.5,9.5,9.5,9.6,9.5,81,6.4,1,5,SW,0.0,1014.4,21.1,40,10,2006-06-01 00:10:00,6,1
92,01/06/2006,00:20,9.5,9.5,9.5,9.6,9.5,81,6.4,1,7,WSW,0.0,1014.3,21.1,40,10,2006-06-01 00:20:00,6,1
93,01/06/2006,00:30,9.5,9.5,9.5,9.6,9.5,82,6.6,1,6,W,0.0,1014.2,21.1,40,10,2006-06-01 00:30:00,6,1
94,01/06/2006,00:40,9.5,9.5,9.5,9.6,9.5,83,6.8,1,6,SW,0.0,1014.1,21.0,40,10,2006-06-01 00:40:00,6,1

In [236]:
## Filter down to first 9 days
ndays=9
tag = 'Outside Temperature'
cut0 = df1.dttm0.min().normalize() + pd.DateOffset(days=ndays)
df2 = df1[ df1['dttm0'] < cut0]
df3 = df2[['dttm0', 'dy0', tag]]
df3.head()

                 dttm0  dy0  Outside Temperature
90 2006-06-01 00:00:00    1                  9.6
91 2006-06-01 00:10:00    1                  9.5
92 2006-06-01 00:20:00    1                  9.5
93 2006-06-01 00:30:00    1                  9.5
94 2006-06-01 00:40:00    1                  9.5

## Day averages in June

The daily averages have been calculated before

In [237]:
july0 = 22.0
m0 = df3.groupby('dy0')[tag].mean().to_frame()
m0

     Outside Temperature
dy0
1              12.520139
2              12.960417
3              12.840278
4              12.013889
5              12.186806
6              16.304167
7              14.219444
8              15.315278
9              12.748611

In [243]:
m1 = (july0 / m0[tag]).to_frame()
m1.rename(columns={ tag: 'm1'}, inplace=True)
m1

           m1
dy0
1    1.757169
2    1.697476
3    1.713359
4    1.831214
5    1.805231
6    1.349348
7    1.547177
8    1.436474
9    1.725678

In [263]:
df4 = df3.merge(m1, on='dy0')
df4[tag] = df4[tag] * df4['m1']
df4['dttm0'] = df4['dttm0'] + pd.DateOffset(months=1)
df4['Date'] = df4['dttm0'].map(lambda x: x.date())
df4['Time'] = df4['dttm0'].map(lambda x: x.time())
df4.drop(columns=['dy0', 'm1', 'dttm0'], inplace=True)

In [264]:
df4

      Outside Temperature        Date      Time
0               16.868822  2006-07-01  00:00:00
1               16.693106  2006-07-01  00:10:00
2               16.693106  2006-07-01  00:20:00
3               16.693106  2006-07-01  00:30:00
4               16.693106  2006-07-01  00:40:00
5               16.693106  2006-07-01  00:50:00
6               16.693106  2006-07-01  01:00:00
7               16.517389  2006-07-01  01:10:00
8               16.517389  2006-07-01  01:20:00
9               16.517389  2006-07-01  01:30:00
10              16.517389  2006-07-01  01:40:00
11              16.693106  2006-07-01  01:50:00
12              16.868822  2006-07-01  02:00:00
13              16.868822  2006-07-01  02:10:00
14              16.868822  2006-07-01  02:20:00
15              16.868822  2006-07-01  02:30:00
16              17.044539  2006-07-01  02:40:00
17              17.044539  2006-07-01  02:50:00
18              17.044539  2006-07-01  03:00:00
19              17.044539  2006-07-01  03:10:00
20              17.044539  2006-07-01  03:20:00
21              17.044539  2006-07-01  03:30:00
22              17.220256  2006-07-01  03:40:00
23              17.220256  2006-07-01  03:50:00
24              17.220256  2006-07-01  04:00:00
25              17.220256  2006-07-01  04:10:00
26              17.220256  2006-07-01  04:20:00
27              17.220256  2006-07-01  04:30:00
28              17.220256  2006-07-01  04:40:00
29              17.220256  2006-07-01  04:50:00
...                   ...         ...       ...
1266            25.194901  2006-07-09  19:00:00
1267            24.849766  2006-07-09  19:10:00
1268            24.332062  2006-07-09  19:20:00
1269            23.641791  2006-07-09  19:30:00
1270            22.951520  2006-07-09  19:40:00
1271            22.261249  2006-07-09  19:50:00
1272            21.743545  2006-07-09  20:00:00
1273            21.398409  2006-07-09  20:10:00
1274            21.225842  2006-07-09  20:20:00
1275            20.880706  2006-07-09  20:30:00
1276            20.363003  2006-07-09  20:40:00
1277            20.017867  2006-07-09  20:50:00
1278            19.845299  2006-07-09  21:00:00
1279            19.672731  2006-07-09  21:10:00
1280            19.500163  2006-07-09  21:20:00
1281            19.327596  2006-07-09  21:30:00
1282            19.155028  2006-07-09  21:40:00
1283            19.155028  2006-07-09  21:50:00
1284            18.809892  2006-07-09  22:00:00
1285            18.637324  2006-07-09  22:10:00
1286            18.637324  2006-07-09  22:20:00
1287            18.464757  2006-07-09  22:30:00
1288            18.292189  2006-07-09  22:40:00
1289            18.292189  2006-07-09  22:50:00
1290            17.947053  2006-07-09  23:00:00
1291            17.947053  2006-07-09  23:10:00
1292            17.774485  2006-07-09  23:20:00
1293            17.774485  2006-07-09  23:30:00
1294            17.601917  2006-07-09  23:40:00
1295            17.601917  2006-07-09  23:50:00

[1296 rows x 3 columns]